<head>
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-7XCME0GV0E"></script>-->
  <!--<script>-->
    <!--window.dataLayer = window.dataLayer || [];-->
    <!--function gtag(){dataLayer.push(arguments);}-->
    <!--gtag('js', new Date());-->
  
    <!--gtag('config', 'G-7XCME0GV0E');-->
  <!--</script>-->
</head>

<header>
	{{ if .Site.Params.Avatar }}
	<div id="avatar">
		<a href="{{ .Site.BaseURL }}">
			<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}">
		</a>
	</div>
	{{ end }}
	<div id="titletext">
		{{- if .IsHome -}}
		<h1 id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		{{- else -}}
		<h2 id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
		{{- end -}}
	</div>
	<div id="title-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p id="subtitle">{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<div id=social>
			<nav>
				<ul>
					{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}"><i title="{{ $key.name }}" class="icons {{ $key.icon }}"></i></a></li>
					{{- end -}}
				</ul>
			</nav>
		</div>
	</div>
	{{ if isset .Site.Menus "main" }}
	<div id="mainmenu">
		<nav>
			<ul>
				{{ range .Site.Menus.main }}
				<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</div>
	{{ end }}
</header>
